#my-center-align {
	justify-content: center;
}

#myVideo {
	width: 100%;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#logo {
	height: 54px;
}

@media only screen and (min-width: 600px) {
	#logo {
		height: 60px;
	}
}

.nopadding {
	padding: 0;
}

.video_wrapper {
	height: 400px;
	overflow: hidden;
	position: relative;
}
nav {
	background-color: white;
}
.page-footer {
	background-color: #1b5e20;
}
p.contact_size {
	font-size: 120%;
}

.collapsible-header {
	padding-top: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
}
body {
	background-color: white;
}
p.nariai_size {
	font-size: 120%;
}
p.slogan {
	font-size: 140%;
}

div.card.horizontal {
	margin-top: 0px;
	margin-bottom: 0px;
}
#no_padding {
	padding: 0;
}
#no_bottom_margin {
	margin-bottom: 0;
}
.carousel.paslaugos{
	height: 200px;
}
.highlight.centered {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: .5rem 0 1rem 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#foto_dydis {
    width: 160px;
    height: 123px;
}
#inkaras {
	height: 70px;
}
/*kalendorius*/

 body {
    margin: 0px 0px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

  /*kalendorius*/